.basic-dom {  width: 300px;
    height: 300px;
    margin: 0 auto;
    text-align: center;  
    padding: 20px;  
    border: solid;  
    font-family: Arial, sans-serif;  
    padding-bottom: 50px;  
    background-color: rgb(223, 222, 222);
}
.basic-dom ol {  list-style-type: none;}
#button {  display: inline-block;  text-align: center;  text-decoration: none;  margin: 2px 0;  padding: 30px;  background-color: crimson;}