#idLeftSide{
    border: dashed;
    float: left;
    width: 45%;
}
#idRightSide{
    border: solid;
    float: right;
    width: 45%;
}
.card{
    border: steelblue;
    background: tan;
    width: 50%;
}